:root {
  color-scheme: light dark;
  font-family: roboto;
}

#loading {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  /* place-items: center; */
  justify-content: center;
  align-items: center;
  transition: transform 1000ms;
}

#loading.slide-out-to-top {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--general-button-background-color-hover);
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--tool-button-background-color);
}

body{
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: ease-out 500ms;
  overflow: hidden;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  background-size: cover;
  background: url("/res/drawable/code_bg.png") center;
  padding: 160px 0;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 10;
}

a {
  display: inline-block;
  text-decoration: unset;
  color: unset;
}

a.button {
  color: black;
  padding: 5px 15px;
}

button {
  border: unset;
  outline: unset;
  background-color: var(--general-button-background-color);
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  font-weight: bold;
}

button:hover {
  background-color: var(--general-button-background-color-hover);
}

.button {
  border: unset;
  outline: unset;
  background-color: var(--general-button-background-color);
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: var(--general-button-background-color-hover);
}

input[type="button"] {
  border: unset;
  outline: unset;
  background-color: var(--general-button-background-color);
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: var(--general-button-background-color-hover);
}

#title {
  color: white;
  text-shadow: 2px 1px 6px black;
}


#container {
  display: flex;
  padding: 0 20px;
}

#container nav {
  width: 150px;
  /*background: rgba(180, 255, 255, 1);*/
  background: url("/res/img_vocab/Cute_cat.jpeg");
  background-size: contain;
}

section {
  padding: 20px;
  width: 100%;
}

.circleIcon {
  border-radius: 50px;
}

#githubIcon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 10px;
  filter: var(--github-icon-filter);
  transition: ease-out 500ms;
}

#githubIcon:hover {
  filter: var(--github-icon-filter-hover);
  transform: scale(1.2);
  backface-visibility: hidden;
}

#mainIconsContainer {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mainIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: var(--github-icon-filter-hover);
  width: 30%;
  min-width: 50px;
  max-width: 150px;
  height: 30%;
  min-height: 50px;
  max-height: 150px;
  border-radius: 10px;
  padding: 5%;
  margin: 2.5%;
  filter: var(--github-icon-filter);
  transition: 500ms;
}

.mainIcon:hover {
  filter: var(--github-icon-filter);
  background-color: #FFF2;
  transform: scale(1.2);
  backface-visibility: hidden;
}

.mainIcon img {
  max-height: min(150px, 20vw);
}

.mainIcon p {
  text-align: center;
  width: fit-content;
  white-space: nowrap;
  margin: auto;
  font-size: min(32px, 5vw);
}

#backToTop {
  visibility: hidden;
  padding: 10px 9px;
}
