* {
  font-family: roboto;
}

#loading {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  /* place-items: center; */
  justify-content: center;
  align-items: center;
  transition: transform 1000ms;
}

#loading.slide-out-to-top {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--general-button-background-color-hover);
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--tool-button-background-color);
}

body{
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: ease-out 500ms;
  overflow: hidden;
}

header {
  width: 100%;
  display: flex;
  background-size: cover;
  background: url("/res/drawable/code_bg.png") center fixed;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 10;
}

a {
  display: inline-block;
  text-decoration: unset;
  color: unset;
}

a.button {
  color: black;
  padding: 5px 15px;
}

button {
  border: unset;
  outline: unset;
  background-color: var(--general-button-background-color);
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  font-weight: bold;
}

button:hover {
  background-color: var(--general-button-background-color-hover);
}

.button {
  border: unset;
  outline: unset;
  background-color: var(--general-button-background-color);
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: var(--general-button-background-color-hover);
}

input[type="button"] {
  border: unset;
  outline: unset;
  background-color: var(--general-button-background-color);
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: var(--general-button-background-color-hover);
}

input[type="checkbox"] {
	display: inline-block;
}

form {
	display: table;
	border-spacing: 2vw ;
}
  
form .test-input-wrapper {
	display: table-row;
	margin: 3%;
}

form .test-input-wrapper input[type="text"]:placeholder-shown + .input-hint,
form .test-input-wrapper textarea:placeholder-shown + .input-hint {
	transform: translateY(3vh);
}

form .test-input-wrapper .input-hint {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
						supported by Chrome, Edge, Opera and Firefox */
	cursor: text;
	text-align: right;
	display: block;
	width: fit-content;
	white-space: normal;
	
	font-size: max(16px, 2vw);
	font-weight: bold;
	transition: transform 300ms;
}

form .test-input-wrapper input[type="text"]:focus + .input-hint,
form .test-input-wrapper textarea:focus + .input-hint {
	transform: unset;
}

form .test-input-wrapper textarea {
	resize: none;
	display: inline-block;
}

form .test-input-wrapper input[type="text"],
form .test-input-wrapper textarea {
	min-width: 30vw;
	min-height: 3vh;
	outline: unset;
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid;
	color: var(--input-text-color);
	transition: 300ms;
	font-size: max(16px, 2vw);
}

form .test-input-wrapper input[type="text"]:invalid,
form .test-input-wrapper textarea:invalid {
	border-bottom-color: var(--error-red);
}

form .test-input-wrapper input[type="text"]:valid,
form .test-input-wrapper textarea:valid {
	border-bottom-color: var(--valid-green);
}

form .test-input-wrapper input[type="text"]:placeholder-shown,
form .test-input-wrapper textarea:placeholder-shown {
	border-bottom-color: var(--input-underline);
}

form .test-input-wrapper input[type="text"]:focus,
form .test-input-wrapper textarea:focus {
	border-bottom-color: var(--focus-blue);
}

form .test-input-wrapper {
	display: flex;
	flex-direction: column-reverse;
}

#title {
	color: white;
	text-shadow: 2px 1px 6px black;
	margin: 0;
}


#container {
	display: flex;
	padding: 0 20px;
}

#container nav {
	width: 150px;
	/*background: rgba(180, 255, 255, 1);*/
	background: url("/res/img_vocab/Cute_cat.jpeg");
	background-size: contain;
}

section {
	padding: 20px;
	width: 100%;
}

.circleIcon {
  border-radius: 50px;
}

#githubIcon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 10px;
  filter: var(--github-icon-filter);
  transition: ease-out 500ms;
}

#githubIcon:hover {
  filter: var(--github-icon-filter-hover);
  transform: scale(1.2);
  backface-visibility: hidden;
}

#mainIconsContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mainIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: var(--github-icon-filter-hover);
  width: 30%;
  min-width: 50px;
  max-width: 150px;
  height: 30%;
  min-height: 50px;
  max-height: 150px;
  border-radius: 10px;
  padding: 3%;
  margin: 3%;
  filter: var(--github-icon-filter);
  transition: 500ms;
}

.mainIcon:hover {
  filter: var(--github-icon-filter);
  background-color: #FFF2;
  transform: scale(1.2);
  backface-visibility: hidden;
}

.mainIcon img {
  max-height: min(150px, 20vw);
}

.mainIcon p {
  text-align: center;
  white-space: nowrap;
  margin: 0;
  font-size: min(24px, 3vw);
}

#backToTop {
  visibility: hidden;
  padding: 10px 9px;
}

#snow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
}
