#project-container {
	width: max(700px, 80%);
	margin: auto;
}

@media only screen and (max-width: 768px) {
	#project-container {
		width: min(100%, 700px);
	}
}

#project-editor {
	display: flex;
	flex-wrap: wrap-reverse;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
}

.project-edit-panel {
	flex: 1 0;
	padding: 0 10px;
}

#new-project-preview-panel {
	display: flex;
	justify-content: center;
	align-items: center;

	flex: 1 0 50vw;
	padding: 0 10px;
}

.project-panel {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: var(--project-panel-bg);
	border-radius: 15px;
	padding: 20px;
	gap: 3vw;
	margin: 2vh 0;
	box-shadow: 0px 0px 10px 0px #0005;
}

.project-panel .project-image {
	display: none;
	width: 100%;
	position: relative;
	transition: ease-out 300ms;
}

.project-panel .project-video {
	display: none;
	width: min(80vw, 400px);
	height: calc(min(80vw, 400px) * 0.5625);
}

.project-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: max(16px, 2vw);
	word-break: break-word;
	flex-grow: 1;
	flex-basis: min(30vw, 200px);
}

.icons-container {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.media-container-wrapper {
	position: relative;
	height: calc(min(80vw, 400px) * 0.75);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.media-container {
	position: relative;
	width: min(80vw, 400px);
	display: flex;
	align-items: center;
	overflow: hidden;
	flex-flow: row nowrap;

	cursor: zoom-in;
}

.media-container-left,
.media-container-right {
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	z-index: 50;
	background: #2222;
	outline: unset;
	border: unset;
	color: #eee;
	transition: ease-out 200ms;
	border-radius: 5px;
}

.media-container-left:hover,
.media-container-right:hover {
	background: #2225;
}

.media-container-left {
	left: 0;
}

.media-container-right {
	right: 0;
}

.multiple-media.media-container:hover > .media-container-left,
.multiple-media.media-container:hover > .media-container-right {
	visibility: visible;
	opacity: 1;
}

.media-container > .display {
	display: block;
}

.media-container-wrapper.enlarge {
	width: 100%;
    top: 0;
    right: 0;
	height: 100%;
	z-index: 100;
	position: fixed;
	background: #000C;
	z-index: 100;
	justify-content: center;
}

.media-container-wrapper.enlarge .media-container {
	width: 100%;
	height: 100%;
	justify-content: center;

	cursor: zoom-out;
}

.media-container-wrapper.enlarge .media-container .project-image {
	width: fit-content;
    max-width: 100%;
}

.navigator-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
}

.navigator-container .navigator {
	background: transparent;
	border: unset;
	color: var(--text-color);
}

.navigator-container .navigator .selector {
	visibility: hidden;
}

.navigator-container .navigator.display .selector {
	visibility: visible;
}

.slide-in-left {
	left: -100%;
	transform: translateX(-100%);
}

.slide-in-right {
	left: 100%;
	transform: translateX(100%);
}

.slide-out-left {
	position: absolute !important;
	transform: translateX(-100%);
}

.slide-out-right {
	position: absolute !important;
	transform: translateX(100%);
}

.project-editor-wrapper {
	position: relative;
}

.project-editor-wrapper .project-panel {
	position: relative;
}

.project-editor-wrapper .edit-toolbar {
	position: absolute;
	display: flex;
	flex-direction: row-reverse;
	top: -29px;
	right: -20px;
	z-index: 5;
}

.project-editor-wrapper .edit-toolbar button {
	background: var(--tool-button-background-color);
    color: var(--background-color);
    width: 48px;
    height: 48px;
    padding: unset;
    border-radius: 50px;

    cursor: pointer;

    box-shadow: 0 2px 10px 1px black;
	transition: ease-out 500ms;
	
	opacity: 0;
	visibility: hidden;
}

.project-editor-wrapper .edit-toolbar button.display {
	opacity: 1;
	visibility: visible;
}