#new-project-editor {
	display: flex;
	flex-wrap: wrap-reverse;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
}

#new-project-panel {
	flex: 1 0;
	padding: 0 10px;
}

#new-project-preview-panel {
	display: flex;
	justify-content: center;
	align-items: center;

	flex: 1 0 50vw;
	padding: 0 10px;
}

.project-panel {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: var(--project-panel-bg);
	border-radius: 15px;
	padding: 20px;
	gap: 3vw;
	margin: 2vh 0;
}

.project-panel img {
	width: 200px;
}

.project-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: max(16px, 2vw);
	word-break: break-word;
	flex-grow: 1;
}