body{
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  background-size: cover;
  background: url("../img_vocab/illust_69147540_20181022_231432.jpeg") fixed -150px -300px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
}

#title {
  color: white;
  text-shadow: 2px 1px 6px black;
}

#loginBox {
  box-shadow: 0 0 10px 2px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  height: 330px;
  padding: 10px;
  background: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 500;
}

#loginLabel {
  width: fit-content;
  margin: 0;
}

#userNameInput {
  min-width: unset;
  width: 100%;
}

#loginButtonBox {
  display: flex;
  margin:20px 0;
}

#welcomeMSG {
  box-shadow: 0 0 10px 2px;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  height: 2vh;
  padding: 10px;
  background: var(--background-color);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  display: none;
  z-index: 500;
}

#welcomeLabel {
  width: fit-content;
  margin: 0 auto;

}

#container {
  display: flex;
  height: 1800px;
  padding: 0 20px;
}

#container nav {
  width: 150px;
  /*background: rgba(180, 255, 255, 1);*/
  /* background: url("../../res/img_vocab/Cute_cat.jpeg"); */
  background-size: contain;
}

section {
  padding: 20px;
  width: 100%;
  /* background: url("../../res/img_vocab/1033130353.jpeg") rgba(255,255,255,0) no-repeat; */
  background-size: cover;
  background-blend-mode: lighten;
}

#searchForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#textField {
  border-radius: 20px;
  padding: 5px;
}

#hintBox {
  display: none;
  flex-wrap: wrap;
}

#hint{
  color: red;
  /*display: none;*/
  margin: unset;
}

#hint::before{
  content: "! ";
  font-weight: bold;
  color: red;
}

#hint_vocabList {
  margin: unset;
}

#cambridgeDict {
  width: 100%;
  height: 600px;
  resize: both;
  margin: 20px 0;
  background: #eee;
}

#storeUsedVocab {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
}

#largeInputField {
  background: unset;
  font-size: 2em;
  height: 500px;
  width: 49%;
  color: var(--input-text-color);
}

#previewUsedVocab {
  width: 49%;
}

#upload {
  width: 10%;
  margin: 20px;
}